<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Typeform OAuth</title>
  <style>
    body {
      --main: #4FB0AE;
      --accent: #d8495a;
      --soft: #e8e8e8;
      --write: #1F7A8C;

      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 0;
      color: #262627;
      background-color: #fafafa;
    }

    nav {
      background-color: #ffffff;
      color: #4c4c4c;
      border-bottom: 1px solid #ededed;
      padding: 20px 10px;
    }

    nav ul {
      max-width: 960px;
      margin: 0 auto;
      padding: 0;
    }

    nav li {
      list-style-type: none;
      display: inline-block;
    }

    nav a {
      font-size: 18px;
      background: #F0F0F0;
      text-decoration: none;
      padding: 10px;
      display: block;
      color: #4c4c4c;
    }

    nav a:visited {
      color: inherit;
    }

    nav a:hover {
      background-color: #f5f5f5;
    }

    main,
    header {
      max-width: 960px;
      padding: 0 10px;
      color: #333;
      margin: auto;
    }

    .token {
      color: var(--accent);
      font-weight: bold;
      font-family: monospace;
      font-size: 18px;
    }

    #buttons {
      display: inline-block;
    }

    button {
      border-radius: 2px;
      padding: 5px;
      margin: 0 5px 0 0;
      color: #fff;
      font-size: 13px;
      border: none;
      background-color: var(--main);
      padding: 3px 12px;
      min-width: 120px;

    }

    button:nth-child(2) {
      background: var(--write);
    }

    button:hover {
      cursor: pointer;
    }

    .selected-scope {
      border: 2px solid #dedede;
      margin: 2px;
      padding: 5px;
      border-radius: 3px;
      display: inline-block;
    }

    #response {
      font-family: monospace;
      padding: 10px;
      border-radius: 3px;
      display: inline-block;
    }

    pre {
      margin: 0;
    }

    #response-pane {
      background-color: var(--soft);
      min-height: 300px;
      margin-top: 30px;
    }

    .button-group {
      display: inline-block;
      margin: 0 0 10px 0;
    }

    #dashboard {
      margin: 40px 0 0 0;
    }
  </style>
</head>

<body>
  <nav>
    <ul>
      <% if (user) { %>
        <li>
          <a href="/auth/logout">Log out</a>
        </li>
        <%} else { %>
          <li>
            <a href="/auth/login">Login</a>
          </li>
          <% } %>

            <li>
              <a href="/disclaimer">Disclaimer</a>
            </li>
    </ul>
  </nav>
  <header>
    <h1>Hi
      <%= user.profile.alias.charAt(0).toUpperCase() + user.profile.alias.slice(1) || 'there'%>!
    </h1>
    <h2>You are now logged in with Typeform!</h2>
  </header>
  <main>
    <section class="info">
      <p>This is your access token:</p>
      <p class="token">
        <%= user.access_token %>
      </p>
      <p>Your selected scopes in this session are:</p>

      <%if (typeof selectedScopes !== 'string') { %>
        <% selectedScopes.forEach(function(scope) { %>
          <span class="selected-scope">
            <%= scope %>
          </span>
          <% }); %>
            <% } else {%>
              <span class="selected-scope">
                <%= selectedScopes %>
              </span>
              <% } %>


    </section>
    <div id="dashboard">
      <h2>Now try them out!</h2>
      <section id="buttons">
        <% Object.keys(typeformScopes).forEach(function(scopeName) { %>
          <div class="button-group">
            <% typeformScopes[scopeName].forEach(function(scopeRight) { %>
              <button class="<%= scopeName %><% scopeRight.charAt(0).toUpperCase() %>" value="<%= scopeRight === 'read' ? 'GET' : 'POST' %>">
                <%= scopeRight === 'read' ? 'READ' : 'WRITE' %>
                  <%= scopeRight === 'write' ? scopeName.substring(scopeName.length - 1, 0) : scopeName %>!</button>
              <% }); %>
          </div>
          <% }); %>
      </section>
      <section id="response-pane">
        <pre>
          <h3 id="status"></h3>
          <code id="response">
          </code>
        </pre>
      </section>
    </div>


  </main>
</body>
<script type="application/javascript" src="/js/dashboard.js"></script>

</html>