<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Login</title>

  <style>
    body {
      --main: #4FB0AE;
      --accent: #d8495a;
      --soft: #e8e8e8;
      --write: #1F7A8C;

      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 0;
      color: #262627;
      background-color: #fafafa;
    }

    nav {
      background-color: #ffffff;
      color: #4c4c4c;
      border-bottom: 1px solid #ededed;
      padding: 20px 10px;
    }

    nav ul {
      max-width: 960px;
      margin: 0 auto;
      padding: 0;
    }

    nav li {
      list-style-type: none;
      display: inline-block;
    }

    nav a {
      font-size: 18px;
      background: #F0F0F0;
      text-decoration: none;
      padding: 10px;
      display: block;
    }

    nav a:visited {
      color: inherit;
    }

    nav a:hover {
      background-color: #f5f5f5;
    }

    main,
    header {
      max-width: 960px;
      margin: 30px auto 0;
      padding: 0 30px;
      color: #333;
    }

    main {
      margin: 0 auto;
    }

    .btn {
      color: #fff;
      font-size: 13px;
      background: var(--accent);
      display: inline-block;
      border: none;
      padding: 3px 12px;
      min-width: 120px;
    }

    .btn:hover {
      cursor: pointer;
    }

    .btn.login {
      padding: 10px;
      margin: 10px 0;
    }

    .btn.group-scopes {
      border-radius: 2px;
      margin: 0 5px 0 0;
      background-color: var(--main);
    }

    #clear {
      background: var(--soft);
      color: #484848;
    }

    #write {
      background: var(--write);
    }

    #all {
      background: #484848;
    }

    form>div {
      margin-bottom: 20px;
    }

    label {
      display: inline;
    }
  </style>
</head>

<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </nav>
  <header>
    <h1>Pick the scopes you want and log in</h1>
  </header>
  <main>
    <button id="read" class="btn group-scopes">Read everything</button>
    <button id="write" class="btn group-scopes">Write everything</button>
    <button id="all" class="btn group-scopes">All the scopes!</button>
    <button id="clear" class="btn group-scopes">Clear the board!</button>
    <form action="/auth/typeform" method="get">
      <% Object.keys(scopes).forEach(function(scopeName) { %>
        <div class="squaredFour">
          <h2>
            <%= scopeName %>
          </h2>
          <% scopes[scopeName].forEach(function(scopeRight) { %>
            <input type="checkbox" name="<%= scopeName %>:<%= scopeRight%>">
            <label for="<%= scopeName %>:<%= scopeRight%>">
              <%= scopeRight%>
            </label>
            <% }); %>
        </div>
        <% }); %>
          <button class="btn login" type="submit">Login with Typeform</a>
    </form>
  </main>
</body>
<script type="application/javascript" src="/js/login.js"></script>

</html>